<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <typeAliases>
  <!-- 특정 파일에 대한 임포트 역할  -->
    <typeAlias type="dto.User" alias="User"/>
    <typeAlias type="dto.Mission" alias="Mission"/>
    <typeAlias type="dto.Bookmark" alias="Bookmark"/>
    <typeAlias type="dto.Category" alias="Category"/>
    <typeAlias type="dto.Goodidea" alias="Goodidea"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/kosta"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="mapper/User.xml"/>
    <mapper resource="mapper/Mission.xml"/>
    <mapper resource="mapper/MissionLike.xml"/>
    <mapper resource="mapper/Bookmark.xml"/>
    
  </mappers>
</configuration>